<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Movies</title>
</head>
<body>
    {{>header}}
    <div class="main-content">
    <p>Type Movie Name Below</p>

     <form>
        <input placeholder = "Movies">
            <button>Search</button>
    </form>
        <p id="message-1"></p>
        <p id="message-2"></p>

        <div class="result">

        </div>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>